[user]
    name = jatifjr
    email = 90365537+jatifjr@users.noreply.github.com
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[core]
	editor = nvim
	autocrlf = input
	excludesfile = /Users/jatifjr/.gitignore_global
[color]
	ui = auto
[alias]
	st = status
	co = checkout
	sw = switch
	br = branch
	ci = commit
	lg = log --oneline --graph --decorate --all
	df = diff
	ammend = commit --amend --no-edit
    unstage = reset HEAD --
    fix = commit --fixup
    squash = commit --squash
    undo = reset --soft HEAD~1
    discard = checkout --
    wipe = !git reset --hard && git clean -fd
    up = !git pull --rebase --autostash
[merge]
	tool = nvimdiff
[diff]
	tool = nvimdiff
[push]
	default = simple
	autoSetupRemote = true
[pull]
	rebase = true
[fetch]
	prune = true
[commit]
	verbose = true
