[user]
	name = jatifjr
	email = 90365537+jatifjr@users.noreply.github.com

[credential]
	helper = osxkeychain

[core]
	editor = nvim
	excludesfile = ~/.global.gitignore
	autocrlf = input
	precomposeunicode = true
	fsmonitor = true
	untrackedCache = true

[init]
	defaultBranch = main

[fetch]
	prune = true

[pull]
	rebase = true

[push]
	default = current
	autoSetupRemote = true

[merge]
	conflictstyle = diff3

[diff]
	algorithm = histogram

[rebase]
	autoStash = true

[color]
	ui = auto

[alias]
	s = status -sb
	b = branch -vv
	c = commit
	d = diff
	l = log --graph --oneline --all
	sw = switch
	co = checkout
	aa = add --all
	cm = commit -m
	ca = commit --amend
	undo = reset HEAD~1
	wip = commit -am "WIP"
	clean-branches = !git branch --merged | grep -v '\\*\\|main\\|master' | xargs -n 1 git branch -d
